@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set background color globally */
body {
  background-color: #16151c;
  color: white;
  /* Ensures text is visible */
}

/* Optional: Apply to the main container */
#root,
#__next {
  background-color: #16151c;
  min-height: 100vh;
  /* Ensures full height */
}

h1 {
  font-weight: bold;
  font-size: large;
}